.wrapper {
	width: 600px;
	margin: 0 auto;
}

#slider {
	width: 600px;
	height: 400px;
	overflow: hidden;
	margin: 30px auto; 	
}

#slider > img {
	width: 600px;
	height: 400px;
	float: left;
	display: none;
	/*display: none;*/
}

a {
	padding: 5px 10px;
	background-color: #F0F0F0;
	margin-top: 10px;
	text-decoration: none;
	color: #666;
}

a.left {
	float: left;
}

a.right {
	float: right;
}

p {
	font-family: Verdana;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	color: brown;
}

#slider {
	margin-top: 50px; 	
}